.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 172px;
    box-sizing: border-box;

    border: 1px solid #0000005a;
    border-radius: 5px;

    cursor: pointer;
}

.container:hover {
    filter: brightness(1.25);
}

.container:active {
    filter: brightness(0.75);
}

.redContainer {
    composes: container;
    background-color: var(--saturated-red-100)
}

.blueContainer {
    composes: container;
    background-color: var(--primary-blue-100);
}

.unactive {
    filter: brightness(0.75);
    pointer-events: none;
}

.iconBox {
    width: 16px;
    height: 16px;
    padding: 11px 10px;
}

.icon {
    width: 100%;
    height: 100%;
}

.text {
    font-size: 14px;
    line-height: 14px;

    margin: 0;
    padding-right: 16px;

    color: var(--primary-white);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
