.container {
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    padding: 0;
    border: 1px solid var(--secondary-blue-pale-40);
    border-radius: 5px;

    background-color: #fff;

    box-shadow: 0px 2px 4px 0px var(--shadow);

    cursor: pointer;
}

.container:hover {
    background-color: var(--secondary-blue-pale-15);
}

.container:active {
    background-color: var(--secondary-blue-pale-30);
}

.selectedContainer {
    composes: container;
    background-color: var(--secondary-blue-pale-10);
}

.text {
    margin: 0;

    font-size: 14px;
    line-height: 18px;

    color: var(--primary-anthracite-80);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
