.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 140px;
    box-sizing: border-box;
    background-color: var(--primary-white);

    border: 1px solid var(--secondary-blue-pale-40);
    border-radius: 5px;
    overflow: hidden;
}

.iconBox {
    width: 20px;
    height: 20px;
    padding: 9px 12px;

    cursor: pointer;
    user-select: none;
}

.iconBox:hover {
    filter: brightness(1.25);
}

.iconBox:active {
    filter: brightness(0.75);
}

.icon {
    width: 100%;
    height: 100%;
}

.searchInput {
    width: 0;
    height: 100%;
    flex-grow: 1;

    font-size: 14px;
    line-height: 14px;

    margin: 0;
    padding: 0 0 0 12px;

    border: none;
    outline: none;

    font-family: 'Oswald', sans-serif;
    color: var(--primary-anthracite-80);
    font-weight: 400;
}

.searchInput::placeholder {
    color: var(--primary-anthracite-50);
}
